@font-face {
    font-family: 'Mori';
    src: url('../../fonts/mori-regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mori';
    src: url('../../fonts/mori-regular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mori';
    src: url('../../fonts/mori-semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mori';
    src: url('../../fonts/mori-semibold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
